	.xm-commented-goods-list-wrap {
	width:929px
}
.xm-commented-goods-list-wrap .xm-commented-goods-list {
	width:930px
}
.home-saleoff-goods-list-wrap {
	width:929px
}
.home-saleoff-goods-list-wrap .home-saleoff-goods-list {
	width:930px
}
.home-hd-show .hd-show-item {
	width:226px;
	height:170px
}
.home-hd-show .hd-show-item img {
	margin-left:-52px
}
.home-hd-show .hd-show-item-first {
	width:227px
}
.home-star-goods .xm-star-goods-list-wrap {
	width:928px
}